#!/bin/bash
APP_HOME="/soft/django-cms-01"
APP_NAME="portal"
APP_DJANGO="/soft/django-cms-01/PROD/Operations_PortalCMS_Django"

export APP_CONFIG=$APP_HOME/conf/$APP_NAME.conf.dev.json
cd $APP_DJANGO
exec /home/software/.local/bin/uv run python manage.py "$@"
