[Unit]
Description=Portal (Gunicorn)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=jlambertson
Group=appdev
WorkingDirectory={{ app_home }}/PROD/operations_portalcms_django
Environment="APP_CONFIG={{ app_home }}/conf/portal.conf.dev.json"
Environment="DJANGO_SETTINGS_MODULE=operations_portalcms_django.settings"
Environment="PATH=/home/jlambertson/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
UMask=0007
ExecStart=/home/jlambertson/.local/bin/uv run gunicorn operations_portalcms_django.wsgi:application \
  --bind unix:{{ app_home }}/run/portal.socket \
  --workers 2 \
  --umask 007 \
  --access-logfile - \
  --error-logfile -
KillMode=mixed
Restart=on-failure
RestartSec=3
TimeoutStopSec=30
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
