[Unit]
Description=Operations Portal CMS Django Backend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
RestartSec=1
User=software
Group=software
WorkingDirectory={{ app_home }}/PROD/{{ app_source_name }}
ExecStart={{ app_home }}/python/bin/gunicorn --config={{ app_home }}/conf/{{ app_name }}.gunicorn.conf.py {{ app_source_name }}.wsgi:application
#ExecStart=/.venv/bin/python /.venv/bin/gunicorn --bind :8080 --workers 3 {{ app_source_name }}.wsgi:application
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target